# build-dir
build/

# python bytecode
__pycache__/
*.py[cdo]

# backup-files
*~
.#*
\#*#
*.swp

# archives
*.tar*

# Valgrind
vgcore.*

# Patch
*.orig
*.rej

# Coverage
all_coverage.info
coverage.info
