# http://www.gnu.org/software/automake
/Makefile
/Makefile.deps
/Makefile.in
.deps/
.dirstamp
.libs/
/INSTALL

# http://www.gnu.org/software/autoconf
/aclocal.m4
/autom4te.cache
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/crypt.h.in
/libtool
/libxcrypt.pc
/stamp-h1
/build-aux/m4/libtool.m4
/build-aux/m4/ltoptions.m4
/build-aux/m4/ltsugar.m4
/build-aux/m4/ltversion.m4
/build-aux/m4/lt~obsolete.m4
/build-aux/m4-autogen/*


# compiler output
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.so
*.trs
*.T
/crypt.h
/crypt.h.stamp
/crypt-hashes.h
/crypt-hashes.h.stamp
/crypt-symbol-vers.h
/crypt-symbol-vers.h.stamp
/libcrypt.map
/libcrypt.map.stamp
gen-des-tables
test/alg-des
test/alg-gost3411-2012
test/alg-gost3411-2012-hmac
test/alg-hmac-sha1
test/alg-md4
test/alg-md5
test/alg-pbkdf-hmac-sha256
test/alg-sha1
test/alg-sha256
test/alg-sha512
test/alg-yescrypt
test/badsalt
test/badsetting
test/bigcrypt
test/byteorder
test/checksalt
test/compile-strong-alias
test/crypt-badargs
test/crypt-bcrypt
test/crypt-des
test/crypt-gost-yescrypt
test/crypt-kat
test/crypt-md5
test/crypt-nthash
test/crypt-pbkdf1-sha1
test/crypt-scrypt
test/crypt-sha256
test/crypt-sha512
test/crypt-sunmd5
test/crypt-yescrypt
test/des-obsolete
test/des-obsolete_r
test/explicit-bzero
test/fcrypt-enosys
test/gensalt
test/gensalt-nthash
test/gensalt-extradata
test/getrandom-fallbacks
test/getrandom-interface
test/ka-bcrypt
test/ka-bcrypt-a
test/ka-bcrypt-x
test/ka-bcrypt-y
test/ka-bigcrypt
test/ka-bsdicrypt
test/ka-descrypt
test/ka-gost-yescrypt
test/ka-md5crypt
test/ka-nt
test/ka-scrypt
test/ka-sha1crypt
test/ka-sha256crypt
test/ka-sha512crypt
test/ka-sunmd5
test/ka-yescrypt
test/preferred-method
test/short-outbuf
test/special-char-salt
/xcrypt.h
/xcrypt.h.stamp

# backup-files
*~

# archives
*.tar*

# GnuPG keyrings
*.gpg

# Valgrind
vgcore.*

# Patch
*.orig
*.rej

# Coverage
all_coverage.info
coverage.info

# Packit
libxcrypt.spec
libxcrypt-*.rpm
libxcrypt-*.srpm
libxcrypt-*.src.rpm
libxcrypt-*/
*/libxcrypt-*.rpm
