language: C

addons:
  apt:
    packages:
      - autoconf
      - automake
      - gawk
      - lcov
      - libtool
      - pkg-config
      - valgrind
  homebrew:
    packages:
      - autoconf
      - automake
      - libtool
      - pkg-config

branches:
  except:
    - master

cache:
  - ccache
  - pip

git:
  depth: false

notifications:
  irc:
    channels:
      - "ircs://chat.freenode.net:6697/#libxcrypt"
    skip_join: true

dist: xenial
sudo: false

matrix:
  allow_failures:
    - os: osx
  fast_finish: true
  include:
    - name: "Coverity Scan"
      if: tag =~ ^v(\d+\.)?(\d+\.)?(\d+)$
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-werror --enable-obsolete-api --enable-hashes=all"
        - PERFORM_COVERITY_SCAN="1"
        - COVERITY_SCAN_PROJECT_NAME="$TRAVIS_REPO_SLUG"
        - COVERITY_SCAN_BRANCH_PATTERN="^v(\d+\.)?(\d+\.)?(\d+)$"
        - COVERITY_SCAN_BUILD_COMMAND_PREPEND="./configure $CONF"
        - COVERITY_SCAN_BUILD_COMMAND="make -j$NPROCS"
    - name: "GCC, Distcheck"
      compiler: gcc
      os: linux
      env:
        - CONF="--enable-obsolete-api --enable-hashes=all"
        - DISTCHECK=1
    - name: "GCC, Unoptimized build for Codecov"
      compiler: gcc
      os: linux
      env:
        - CONF="--enable-obsolete-api --enable-hashes=all"
    - name: "Clang, Unoptimized build for Codecov"
      compiler: clang
      os: linux
      env:
        - CONF="--enable-obsolete-api --enable-hashes=all"
    - name: "GCC, all hashes, obsolete API, Valgrind"
      compiler: gcc
      os: linux
      env:
        - CONF="--enable-obsolete-api --enable-hashes=all --enable-valgrind-memcheck"
        - VALGRIND=1
    - name: "Clang, all hashes, obsolete API, Valgrind"
      compiler: clang
      os: linux
      env:
        - CONF="--enable-obsolete-api --enable-hashes=all --enable-valgrind-memcheck"
        - VALGRIND=1
    - name: "GCC, all hashes, static lib"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-shared --enable-hashes=all"
    - name: "Clang, all hashes, static lib"
      compiler: clang
      os: linux
      env:
        - CONF="--disable-shared --enable-hashes=all"
    - name: "macOS, Clang, all hashes, obsolete API"
      compiler: clang
      os: osx
      env:
        - CONF="--enable-obsolete-api --enable-hashes=all"
    - name: "GCC, all hashes, obsolete API, no failure-tokens"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-failure-tokens --enable-obsolete-api --enable-hashes=all"
    - name: "Clang, all hashes, obsolete API, no failure-tokens"
      compiler: clang
      os: linux
      env:
        - CONF="--disable-failure-tokens --enable-obsolete-api --enable-hashes=all"
    - name: "GCC, all hashes, no obsolete API"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=all"
    - name: "Clang, all hashes, no obsolete API"
      compiler: clang
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=all"
    - name: "GCC, strong hashes, no obsolete API"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=strong"
    - name: "Clang, strong hashes, no obsolete API"
      compiler: clang
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=strong"
    - name: "GCC, glibc hashes, obsolete API"
      compiler: gcc
      os: linux
      env:
        - CONF="--enable-obsolete-api --enable-hashes=glibc"
    - name: "Clang, glibc hashes, obsolete API"
      compiler: clang
      os: linux
      env:
        - CONF="--enable-obsolete-api --enable-hashes=glibc"
    - name: "GCC, glibc and strong hashes, obsolete API for glibc"
      compiler: gcc
      os: linux
      env:
        - CONF="--enable-obsolete-api=glibc --enable-hashes=strong,glibc"
    - name: "Clang, glibc and strong hashes, obsolete API for glibc"
      compiler: clang
      os: linux
      env:
        - CONF="--enable-obsolete-api=glibc --enable-hashes=strong,glibc"
    - name: "GCC, bcrypt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=bcrypt"
    - name: "GCC, bcrypt_a only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=bcrypt_a"
    - name: "GCC, bcrypt_x only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=bcrypt_x"
    - name: "GCC, bcrypt_y only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=bcrypt_y"
    - name: "GCC, bigcrypt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=bigcrypt"
    - name: "GCC, bsdicrypt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=bsdicrypt"
    - name: "GCC, descrypt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=descrypt"
    - name: "GCC, gost-yescrypt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=gost-yescrypt"
    - name: "GCC, md5crypt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=md5crypt"
    - name: "GCC, nt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=nt"
    - name: "GCC, scrypt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=scrypt"
    - name: "GCC, sha1crypt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=sha1crypt"
    - name: "GCC, sha256crypt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=sha256crypt"
    - name: "GCC, sha512crypt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=sha512crypt"
    - name: "GCC, sunmd5 only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=sunmd5"
    - name: "GCC, yescrypt only"
      compiler: gcc
      os: linux
      env:
        - CONF="--disable-obsolete-api --enable-hashes=yescrypt"

install:
  - ./.travis_install.sh

before_script:
  - ./.travis_before_script.sh

script:
  - ./.travis_script.sh

after_success:
  - ./.travis_after_success.sh
